@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}